body {
  font-family: Arial, Helvetica, cursive, sans-serif;
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: grey;
  padding: 35px;
  width: 80%;
}

#first-row,
#second-row {
  display: flex;
  margin-top: 2%;
}

.box {
  width: 250px;
  height: 180px;
  text-align: center;
  margin-right: 5%;
  border-radius: 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* .box:hover{
    transform: translateZ(-160px);
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
} NON FUNZIONA COSI*/

.box h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 30%;
  margin-bottom: 5%;
}

.box p {
  font-size: 1.3em;
}

.blu {
  background-image: linear-gradient(to bottom, lightblue, rgb(155, 155, 155));
}

.verde {
  background-image: linear-gradient(to bottom, lightgreen, rgb(155, 155, 155));
}

.rosso {
  background-image: linear-gradient(rgba(255, 61, 61, 0.679), rgb(155, 155, 155));
}

#first-row .blu {
  transform: rotate(355deg);
}
#first-row #primo-verde {
  transform: rotate(9deg);
}

#first-row .rosso {
  transform: rotate(354deg);
}

#first-row #secondo-verde {
  transform: rotate(16deg);
}

#second-row #primo-rosso {
  transform: rotate(355deg);
}

#second-row .blu {
  transform: rotate(356deg);
}

#second-row .verde {
  transform: rotate(352deg);
}

#second-row #secondo-rosso {
  transform: rotate(12deg);
}
#first-row .blu:hover,
#first-row #primo-verde:hover,
#first-row .rosso:hover,
#first-row #secondo-verde:hover,
#second-row #primo-rosso:hover,
#second-row .blu:hover,
#second-row #secondo-rosso:hover,
#second-row .verde:hover {
  transform: translateZ(-160px);
  transform: scale(1.1);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}
